SaludTeIntegra.WebApi/SaludTeIntegra.WebApi/Web References/ServicioVisor/Visor_CL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://metodos.visor_cl.saydex.custom.com/" targetNamespace="http://metodos.visor_cl.saydex.custom.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="ObtenerURLVisorHCC" type="tns:ObtenerURLVisorHCC" />
  <xs:element name="ObtenerURLVisorHCCResponse" type="tns:ObtenerURLVisorHCCResponse" />
  <xs:complexType name="ObtenerURLVisorHCC">
    <xs:sequence>
      <xs:element name="parametro" type="tns:Request_TT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Request_TT">
    <xs:sequence>
      <xs:element name="TipoIdentificacionPaciente" type="xs:int" />
      <xs:element name="NumeroIdentificacionPaciente" type="xs:string" />
      <xs:element name="IdentificadorUnicoPaciente" type="xs:string" />
      <xs:element name="IdentificadorProfesional" type="xs:string" />
      <xs:element name="SistemaSolicitaConsulta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerURLVisorHCCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RespuestaObtenerURLVisorHCC" type="tns:responseTT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseTT">
    <xs:sequence>
      <xs:element minOccurs="0" name="URL" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>